.registerInput {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background: 0 0;
  width: 100%;
  display: block;
  color: #465b6c;
  font-weight: 700;
  font-size: 14px;
  padding: 3px 0;
}

.registerInput,
select,
textarea {
  outline: none;
}

.registerInput[type="checkbox"]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.registerInput[type="checkbox"] {
  appearance: checkbox !important;
  position: relative;
  top: 18px;
  right: 8px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #7a6e7a;
}
.checkbox input:checked ~ .checkmark {
  background-color: #465b6c;
}

.checkmark {
  position: absolute;
  top: 24%;
  height: 12px;
  width: 12px;
  border: 2px solid #c9c9c9;
  background-color: #dedbdb;
}

.mainRegister {
  position: relative;
  top: 430px;
}

.subRegister {
  width: 862px;
  height: 500px;
  position: relative;
  bottom: 300px;
  left: 100px;
}

.cont {
  width: 862px;
  height: 500px;
  background-image: url(https://images2.alphacoders.com/199/199312.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  left: 300px;

  border-radius: 5px;
}

.registerForm {
  position: relative;
  bottom: 540px;
  left: 600px;
  width: 562px;
  height: 500px;
  background: rgba(194, 193, 191, 0.75);
  border-radius: 5px;
}

.registerSection {
  margin-bottom: 23px;
  position: relative;
  bottom: 20px;
}

.labelTerms {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-left: 30px;
}

.termLink {
  color: #fff;
}

.submit {
  width: 130px;
  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  border: none;
  background: #465b6c;
  color: white;
  padding: 10px;
  height: 50px;
  letter-spacing: 2px;
  box-shadow: 0 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  bottom: 45px;
}

.submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#soldier {
  position: absolute;
  z-index: +1;
  top: 106px;
  right: 225px;
}

#terms {
  position: absolute;
  top: 35%;
}

#registerH2 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #465b6c;
  font-size: 36px;
  position: relative;
  bottom: 10px;
  margin-bottom: 10px;
}

#registerForm {
  padding: 54px 80px 36px 55px;
  margin-top: 40px;
}

@media screen and (max-width: 1992px) {
  .mainRegister {
    width: calc(100% - 30px);
    max-width: 100%;
    margin: 0 auto;
  }
}
