.mainContainer {
  width: 35%;
  height: 650px;
  position: absolute;
  left: 30%;
  top: 150px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  border-top: 3px solid teal;
  background-image: linear-gradient(to right top, #333333, #39393a);
  box-shadow: 0 px 30px rgba(35, 35, 35, 0.1);
  opacity: 1;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  color: rgb(175, 179, 199);
  font-size: 34px;
  /* height: 60px; */
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  font-style: italic;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: none;
  outline: none;
  background: transparent;
}

.iconInput {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  height: 36px;
}

.loginPassword[type="password"] {
  color: teal !important;
}

.inputClass {
  color: #afb1be;
  background: rgb(50, 54, 74);
  width: 190px;
  padding: 10px 65px;
  margin-top: -2px;
  outline: none;
  border-left: none;
  border-left: none;
  border-top: 2px solid rgb(57, 61, 82);
  border-bottom: 2px solid rgb(57, 61, 82);
}

.forgetContainer {
  margin-top: 12px;

  a {
    color: rgb(96, 100, 121);
  }
}

.loginButton {
  border: none;
  background-color: teal;
  color: white;
  padding: 12px 100px;
  margin-top: 30px;
  font-size: 24px;
  border-radius: 27px;
  cursor: pointer;
  text-transform: uppercase;
}

.forgetContainer {
  color: rgb(175, 179, 199);
}

.noAccountContainer {
  margin-top: 12px;
  font-style: italic;
  color: rgb(175, 179, 199);
}

.noAccountContainer span {
  font-style: normal;
  font-weight: bolder;
  color: rgb(175, 179, 199);
}

.loginButton:hover {
  background-color: #342c3a;
  border: 2px solid teal;
  color: teal;
}

.mario {
  animation-name: my-animation;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  left: 120%;
  right: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: +1;
}

/* @keyframes my-animation {
  from {
    width: 300px;
    top: 10px;
  }
  to {
    width: 300px;
    top: 80px;
  }
} */
