#root {
   position: relative;
   background: no-repeat;
   font-family: "Montserrat", sans-serif;
   height: 100vh;
}

.main-post-title {
   color: black;
   font-size: 64px;
   font-weight: bolder;
   margin-top: 4%;
}
